 {%extends 'home.html' %}
 {%block title%} About- Redefining how brands advertise{%endblock%}
 {%block section%}
  <section style="background: lavender;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{{url_for('static', filename='img/team.svg')}}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <p align="justify"><h2 class="display-4">Moments</h2><p align="justify">Reachabl is a mobile advertising company redefining how brands connect with consumers through a moment-based platform that targets significant moments in the apps people use every day. This innovative approach to mobile marketing creates meaningful engagements driven by positive emotion between users, developers and advertisers. 
          </div>
        </div>
      </div>
    </div>
  </section>
  {%endblock%}
  {%block section1%}
  <section style="background: lavender;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{{url_for('static',filename='img/schedule.svg')}}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Our Data!</h2>
            <p align="justify">
<br/>Traditional data is informed by a url, header bidding, cookie or single source, which means it is often incomplete or outdated. Reachabl gives you the current view of the consumer based on actions they’re taking right now on their mobile device. use Reachabl to meet your projections.

        </div>
      </div>
    </div>
  </section>
  {%endblock%}
  {%block section2%}{%endblock%}
  {%block section3%}{%endblock%}