 {%extends 'home.html' %}
 {%block section%}
 <section style="background: lavender;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/about.svg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <p align="justify"><h2 class="display-4">About</h2><br/><br/><p align="justify">Learning to code is uniquely like gaining a superpower: it converts you from a consumer to a creator. Suddenly, computers become a tool for creating and youkiip as a software company is building a conglomerate of young developers who will master this art of using computers to develop real life products.

<br/><br/>Make and Earn, from anywhere.<br/>
There’s never been a better time for making: anywhere in the world, anyone with a laptop and an internet connection can learn to make an app. Building things has never been so globally democratized. And that's why Youkiip has placed its axis towards Teens which are the future to enhance their super abilities in coding whilst providing them with Gigs which would aid them Earn while they study.. 

<br/><br/>Our Target Audience<br/>
The goal of Youkiip is to make over 10 million teens professional developers which would be gainfully employed or even running their own startups, we are not just centered towards teaching and Mentoring, we are also concerned about the financial state of these young agile developers which would aid them in their educational pursuit and personal life. we target indivduals from ages 10-22 years and place more emphasis on low-income communities and educational deficient communities in Africa as a whole.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {%endblock%}
  {%block section1%}
  <section style="background: lavender;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/about1.svg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4"> 1080 Developers!</h2>
            <p align="justify">
<br/><br/>Start building Professionally.<br/>
Most coding classes teach you programming concepts instead of how to write real code—it’s like trying to learn carpentry without any wood. So at Youkiip, after weeks and months of nuturing you get a work which would be provided byYoukiip talent managers where you begin to build professionally and also earn maximally as a student. You start with no experience and build and ship a project every month.

<br/><br/>Earn as you build.<br/>
We believe that there should be a reward for hardwork, and that is why youkiip Teen developers are not prolly kept in the dark, they are nutured and then given a work by our partner companies which would enable them to practice skills in the real world whilst earning and supporting themselves maximally.

<br/><br/>Be part of a community.<br/>
So far Youkiip has reached a milestone of training over 1080 Teen developers and the numbers are still on the increase, and out of the 1080 developers over 320 are gainfully employed in different companies and organizations, while the rest are under trainings and are undergoing Mentorship to be prepared for the outside world.
        </div>
      </div>
    </div>
  </section>
  {%endblock%}