 {%extends 'home.html' %}
 {%block title%}Contact - Redefining how brands advertise{%endblock%}
 {%block section%}
  <section style="background: lavender;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid" src="{{url_for('static', filename='img/newsletter.svg')}}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5"><h2 class="display-4">Yipee!</h2><p align="justify">There is no better time than now to start your Moment Based Advertisement, Reachabl does it in such a way that would certainly bring smiles to your face and also give you the derived satisfaction which your brand deserves .. let's talk moments</p><br/><a href="#" style="text-transform: uppercase; text-decoration:none; padding: 1.5rem 3rem;font-size: 0.9rem;font-weight: 700;letter-spacing: 0.1rem;"> moments@reachabl.io</a>
            <br/><br><p align="justify">We try to be as simplistic as ever, just send a mail stating your concerns or how you want Reachabl to create the deserved moment for your product or service and we would respond almost immediately, we're always uptime.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {%endblock%}
  {%block section1%}
  {%endblock%}
  {%block section2%}{%endblock%}
  {%block section3%}{%endblock%}