 {%extends 'home.html' %}
 {%block title%} About- Redefining how brands advertise{%endblock%}
 {%block section%}
   <section style="background: lavender;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img src="{{url_for('static', filename='img/video.svg')}}" class="img-fluid rounded-circle" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Captures!</h2>
            <p align="justify">Traditional advertising gets you eyeballs and audiences, Reachabl gets you the people who care and want to buy from you, we reach them when they are most receptive to your message through moments based in-App mobile advertisements.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {%endblock%}
 {%block section1%}
  <section style="background: lavender;">
    <div class="container">
      <div class="row p-5">
            
        <div class="col-6 col-lg-4 portfolio-item p-7">
          <a href="#"><img class="card-img-top" src="{{url_for('static',filename='img/ainitro.PNG')}}" alt=""></a>
          <br><br>

      </div>
      
      <!--second-->
      <div class="col-6 col-lg-4 portfolio-item p-7">
          <a href="#"><img class="card-img-top" src="{{url_for('static',filename='img/wullinp.PNG')}}" alt=""></a>
          <br><br>

      </div>
      <!--third-->

        <div class="col-6 col-lg-4 portfolio-item p-7">
          <a href="#"><img class="card-img-top" src="{{url_for('static',filename='img/youkiip.PNG')}}" alt=""></a>
          <br><br>

      </div>
      <!-- second row-->
              <div class="col-6 col-lg-4 portfolio-item p-7">
          <a href="#"><img class="card-img-top" src="{{url_for('static',filename='img/blogthetech.PNG')}}" alt=""></a>
          <br><br>

      </div>
      
      <!--second-->
      <div class="col-6 col-lg-4 portfolio-item p-7">
          <a href="#"><img class="card-img-top" src="{{url_for('static',filename='img/backendguy.PNG')}}" alt=""></a>
          <br><br>

      </div>
      <!--third-->

        <div class="col-6 col-lg-4 portfolio-item p-7">
          <a href="#"><img class="card-img-top" src="{{url_for('static',filename='img/teenscancode.PNG')}}" alt=""></a>
          <br><br>

      </div>
      </div>
    </div>
  </section>
  {%endblock%}
  {%block section2%}
  <section style="background: lavender;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{{url_for('static',filename='img/mobileusers.svg')}}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Your audience!</h2>
            <p align="justify"><i>Tell us your target audience objective and we'll send you a complimentary Reachabl Audience recommendation.</i><br/><br/>For years, we've targeting consumers based on data collected from billions of interactions across our network. Our approach is unintrusive and effective, which is proven by our average engagement rate of 20% -- 10x the industry average.</p>

        </div>
      </div>
    </div>
  </section>
  {%endblock%}
 {%block section3%}{%endblock%}