 {%extends 'home.html' %}
 {%block title%} Monetization - Redefining how brands advertise{%endblock%}
 {%block section%}
  <section style="background: lavender;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img src="{{url_for('static', filename='img/bplan.svg')}}" class="img-fluid rounded-circle" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Cash for Devs ?</h2>
            <p align="justify"><i class="fas fa-user"></i>  Reachabl Skid monetizes your app and grows your audience with one, easy-to-integrate toolkit. Maximize fill rates while getting the highest CPM's possible with Reachabl's unique moment based advertising solution. Our solution will outperform other mobile advertising networks while delivering user friendly in app advertising units to your users. From games to travel to fitness, we help app developers maximize revenue. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {%endblock%}
  {%block section1%}
  <section style="background: lavender;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img src="{{url_for('static', filename='img/works.svg')}}" class="img-fluid rounded-circle" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">How ?</h2>
            <p align="justify">Reachabl Add an incremental revenue stream to your app and also Increase your audience's engagement,time spent and loyalty and furthermore, connect your apps with top brands our Skid is easy to integrate by Server-to-server, Native mobile or web. Also we offer Sponsored virtual currency, Real rewards and coupons,Native videoIn-feed rewards, furthermore,we have value added services which include Premium reward opportunities and the chance to Survey your users.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {%endblock%}
  {%block section2%}{%endblock%}
  {%block section3%}{%endblock%}