 {%extends 'home.html' %}
 {%block title%} Press - Redefining how brands advertise{%endblock%}
 {%block section%}
  <section style="background: lavender;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{{url_for('static', filename='img/news.svg')}}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <p align="justify"><h2 class="display-4">Press ...</h2><p align="justify">Moment marketing uses offline experience, particularly in TV shows and sporting events, to drive or trigger online interaction. Moment marketing connects people to a brand as if they were all sitting together in the same room. But to do it successfully you must perfectly align the content and the context, not always an easy thing to do. You also need to be able to jump in when needed.  Here are some examples of how marketers have captured those golden opportunities.<br/><br/><a href="#" style="  text-transform: uppercase; text-decoration:none; padding: 1.5rem 3rem;font-size: 0.9rem;font-weight: 700;letter-spacing: 0.1rem;"> Download</a> 
          </div>
        </div>
      </div>
    </div>
  </section>
  {%endblock%}
  {%block section1%}
  {%endblock%}
  {%block section2%}{%endblock%}
  {%block section3%}{%endblock%}